<div data-ng-controller="plugin-mapboxroutewidget.controllers.stylerController">

    <div class="settings-pane-host">
        <div class="pane-row">
            <div class="pane-row-title">Basemap</div>
            <div class="type-holder">
                <div data-ng-repeat="option in basemapOptions"
                     data-ng-class="{ selected: model.basemap == option.value }"
                     data-ng-click="changeBasemap(option)"
                     class="radio-option-item">
                    <div class="custom-radio-btn"
                         data-ng-class="{ selected: model.basemap == option.value }"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">{{option.key}}</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Value Labels     -->
    <!--
    <div class="settings-pane-host">
        <div class="pane-row">
            <div class="pane-row-title">Value Labels</div>
            <div class="positions-holder">
                <div data-ng-class="{ selected: model.valueLabels == 'none' }" 
                     data-ng-click="setValueLabels('none')" class="radio-option-item">
                    <div class="custom-radio-btn" data-ng-class="{ selected: model.valueLabels == 'none' }"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">None</div>
                </div>
                <div data-ng-class="{ selected: model.valueLabels == 'origin' }" 
                     data-ng-click="setValueLabels('origin')" class="radio-option-item">
                    <div class="custom-radio-btn" data-ng-class="{ selected: model.valueLabels == 'origin' }"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">Origin</div>
                </div>
                <div data-ng-class="{ selected: model.valueLabels == 'route' }" 
                     data-ng-click="setValueLabels('route')" class="radio-option-item">
                    <div class="custom-radio-btn" data-ng-class="{ selected: model.valueLabels == 'route' }"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">Route</div>
                </div>
                <div data-ng-class="{ selected: model.valueLabels == 'destination' }" 
                     data-ng-click="setValueLabels('destination')" class="radio-option-item">
                    <div class="custom-radio-btn" data-ng-class="{ selected: model.valueLabels == 'destination' }"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">Destination</div>
                </div>
            </div> 
        </div>
    </div>
    -->

    <!-- Route Arcs     -->
    <div class="settings-pane-host">
        <div class="pane-row">
            <div class="pane-row-title">Line Type</div>
            <div class="positions-holder">
                <div data-ng-class="{ selected: !model.useArcs }" 
                     data-ng-click="setRouteType(false)" class="radio-option-item">
                    <div class="custom-radio-btn" data-ng-class="{ selected: !model.useArcs }"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">Straight</div>
                </div>
                <div data-ng-class="{ selected: model.useArcs }" 
                     data-ng-click="setRouteType(true)" class="radio-option-item">
                    <div class="custom-radio-btn" data-ng-class="{ selected: model.useArcs }"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">Curved</div>
                </div>
            </div> 
        </div>
    </div>

    <!--    Line Width Slider     -->
    <div class="settings-pane-host">
        <div class="pane-row">
            <div class="pane-row-title">Line Width: {{model.lineWidth}}</div>
            <div class="pane-row-holder gravity-slider">
                <div class="white-slider">
                    <data-slider class="numeric-slider"
                                 data-type="value"
                                 data-min="0.2"
                                 data-max="5"
                                 data-step="0.2"
                                 data-value="model.lineWidth"
                                 data-trigger="change"
                                 data-on-release="redraw()">
                    </data-slider>
                </div>
            </div>
        </div>
    </div>

    <!--    Padding around the routes     -->
    <div class="settings-pane-host">
        <div class="pane-row">
            <div class="pane-row-title">Bounding Box Padding</div>
            <div class="pane-row-holder gravity-slider">
                <div class="white-slider">
                    <data-slider class="numeric-slider"
                                 data-type="value"
                                 data-min="10"
                                 data-max="100"
                                 data-step="5"
                                 data-value="model.padding"
                                 data-trigger="change"
                                 data-on-release="redraw()">
                    </data-slider>
                </div>
            </div>
        </div>
    </div>

    <!-- Animation     -->
    <!--
    <div class="settings-pane-host">
        <div class="pane-row">
            <div class="pane-row-title">Animation</div>
            <div class="positions-holder">
                <div data-ng-class="{ selected: !model.animation }" 
                     data-ng-click="setAnimation(false)" class="radio-option-item">
                    <div class="custom-radio-btn" data-ng-class="{ selected: !model.animation }"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">Disabled</div>
                </div>
                <div data-ng-class="{ selected: model.animation }" 
                     data-ng-click="setAnimation(true)" class="radio-option-item">
                    <div class="custom-radio-btn" data-ng-class="{ selected: model.animation }"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">Enabled</div>
                </div>
            </div> 
        </div>
    </div>
    -->
    
    <!--    Animation Speed     -->
    <!--
    <div class="settings-pane-host">
        <div class="pane-row">
            <div class="pane-row-title">Animation Speed: {{model.animationSpeed}}</div>
            <div class="pane-row-holder gravity-slider">
                <div class="white-slider">
                    <data-slider class="numeric-slider"
                                 data-type="value"
                                 data-min="1"
                                 data-max="10"
                                 data-step="0.1"
                                 data-value="model.animationSpeed"
                                 data-trigger="change"
                                 data-on-release="redraw()">
                    </data-slider>
                </div>
            </div>
        </div>
    </div>
    -->

</div>