div.mapboxgl-container {
    position: absolute;
    top: 32px;
    bottom: 0;
    width: 100%;
}

/*	Tooltip Classes 	*/
.mapboxgl-tooltip-container {

}

.mapboxgl-tooltip-label {
	
}
.mapboxgl-tooltip-values {
	
}
.mapboxgl-tooltip-value {
	
}

.mapboxgl-ctrl-group > button.clear-filter-button {
  padding: 0.4em;
  width: 100%;
  height: 100%;
}